<h1>{{ title }} ejecutando</h1>
<app-uso-servicio></app-uso-servicio>
<app-propiedades-input valorX="20" valorY="30" valorZ="40" servicioActivado={{servEjem.siActivado()}}>
</app-propiedades-input>
<app-bindings></app-bindings>
<br>
<app-bindings></app-bindings>
<br>
<app-directivas-struct></app-directivas-struct>