<h1>Directivas estructurales:</h1>
<span>Cambia el valor: </span><input type="number" [(ngModel)]="contadorComp"/>
<ol>
    <li *ngFor="let comida of arrayDeTextos">
        He probado {{ comida }}
    </li>
</ol>
<h4>Ejemplo if:</h4>
<div *ngIf="contadorComp % 2 === 0">El contador es par</div>
<div *ngIf="contadorComp % 2 === 1">El contador es impar</div>
<br>
<h4>Ejemplo else:</h4>
<div *ngIf="contadorComp % 2 === 0 else impar">El contador es par</div>
<ng-template #impar>El contador es impar</ng-template>
