<h2>Propiedades input (vienen del componente padre)</h2>
<p>Valores X y Y: {{ valorX }}, {{ valorY }}, {{ valorZ }}</p>
<p *ngIf="servicioActivado === 'true'">Parrafo EXISTE por srv activado</p>
<p [hidden]="servicioActivado === 'false'">Parrafo se muestra por srv activado</p>
<input type="checkbox" [checked]="servicioActivado === 'true'" />
<label>activado</label>
